# 1) Ignore everything by default
*

# 2) Allow Git to see directories (needed so whitelisting works)
!*/

# 3) Track ONLY these two trees (everything inside them)
!BBDM/
!BBDM/**

!taming-transformers/
!taming-transformers/**

!baselines/
!baselines/**

# Always keep the gitignore itself
!.gitignore


# 4) Exclusions inside the whitelisted trees

# Ignore PNGs anywhere
**/*.png

# Python cache/bytecode
**/__pycache__/
**/*.py[cod]

# BBDM: exclude derived/heavy folders
BBDM/**/AdapterNetwork_Results/
BBDM/**/AdapterNetwork_Weights/
BBDM/**/k-fold-automatic_selection/
BBDM/**/k-fold-manual_selection/
BBDM/**/results/

# taming-transformers: exclude derived/heavy folders
taming-transformers/logs/
taming-transformers/results/
taming-transformers/pretrained_weights/

# baselines: exclude artifacts created by training/orchestration
baselines/**/fold_lists/
baselines/**/checkpoints/
baselines/**/results/
baselines/**/web/
